.termef {
  display: inline;
  position: relative;
}
.termef .infobox {
  color: #3579b8;
}
.termef .infobox:hover {
  text-decoration: underline;
  cursor: pointer;
}
.termef .infobox.processed {
  text-decoration: underline;
  cursor: pointer;
}
.termef .tooltip-container {
  width: 0;
  font-size: 0;
}
.termef .tooltip-container.ui-draggable {
  cursor: move;
}
.termef .tooltip {
  position: absolute;
  margin-left: 20px;
  width: 300px;
  font-size: 14px;
  z-index: 10;
  top: -100px;
}
.termef .tooltip.full {
  top: -200px;
}
.termef .tooltip .inner {
  display: block;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.termef .tooltip .title {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.termef .tooltip .title .label {
  font-size: 16px;
  font-weight: bold;
}
.termef .tooltip .title .close {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.termef .tooltip .content {
  display: block;
  padding: 5px 10px;
}
.termef .tooltip dl {
  margin: 0;
}
.termef .tooltip dt {
  display: block;
  font-weight: bold;
  padding-top: 3px;
}
.termef .tooltip dt.center {
  text-align: center;
}
.termef .tooltip dd {
  display: block;
  padding-bottom: 3px;
  margin: 0;
}
.termef .tooltip dd.center {
  text-align: center;
}
.termef .tooltip dd.breadcrumb > span + span:before {
  content: "> ";
}
.termef .tooltip .more-container {
  padding: 5px 10px;
  text-align: right;
  display: block;
}
.termef .tooltip .more-container .more,
.termef .tooltip .more-container .less {
  color: #8d8d8d;
  font-size: 14px;
}
