{#
/**
 * @file
 * Default theme implementation for a termef infobox tag
 *
 * Returns HTML for an infobox tag
 *
 * Available variables
 * - string query: The term to query
 */
#}
<span class="termef"><a class="infobox" rel="{{ query }}"  role="button" tabindex="0" title="{{ 'Click to display definition'|t }}">{{ label }}</a></span>