{#
/**
 * @file
 * Default theme implementation for a termef tooltip
 *
 * Returns HTML for a tooltip
 *
 * Available variables
 * - array values: The response from API
 */
#}
<span class="tooltip-container" tabindex="1">
  <span class="tooltip summary">
    <span class="inner">
      <span class="title">
        <span class="label">{{ values.Nom }}</span>
        <span class="close-buttons-container">
          <span class="close" title="{{ 'Close infobox'|t }}" style="cursor: pointer;">×</span>
        </span>
      </span>
      <span class="content less">
        <span class="list-group-item-text">{{ values.définition }}</span>
        <span class="more-container">
          <span class="more" title="{{ 'Show all information me'|t }}" style="cursor: pointer;">{{ 'Show more'|t }}</span>
        </span>
      </span>
      <span class="content full" style="display:none;">
        <dl>
          {% for label, data  in values %}
          {% if label in ['date de parution au JO', 'déconseillé ou fréquent', 'employé pour', 'Nom'] %}
          {% else %}
            <dt {% if label == 'graphe' %}class="center"{% endif %}>{{ label }}</dt>
            {% if data is iterable %}
              {% for group in data %}  
              <dd class="breadcrumb">
                {% for item in group %}
                  <span>
                  <a href="{{ item.url }}" target="_blank">
                    {{ item.title }}
                  </a>
                  </span>
                {% endfor %}
              </dd>
              {% endfor %}
            {% elseif label == 'graphe' %}
              <dd class="center">
                <a href="{{ data }}" target="_blank">terminologie.finances.gouv.fr</a>
              </dd>
            {% else %}
              <dd>
                {{ data|raw }}
              </dd>
            {% endif %}
          {% endif %}
          {% endfor %}
        </dl>
        <span class="more-container">
          <span class="less" title="{{ 'Hide detailed information'|t }}" style="cursor: pointer;">{{ 'Show less'|t }}</span>
        </span>
      </span>
    </span>
  </span>
</span>